html {
  background-color: rgb(226, 223, 223);
}
.HiddenOddities {
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 65px;
  padding: 0;
  margin: 0;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1598932025281-f89c3670ac53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMHRyZWV8ZW58MHx8MHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  width: 99.5%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ad64c5 solid 4px;
}

/* nav bar  */
/* add highlight hover for links */
nav {
  background-color: #ad64c5;
  margin: auto;
  width: 100%;
}
nav > ul {
  display: inline-flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
  list-style: none;
}
nav > ul > li > a {
  color: black;
  padding: 10px;
  margin: 5px;
  text-decoration-line: none;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
/* add hover effect for nav bar links */
/* nav button hover effect */
nav > ul > li :hover {
  transition: all 200ms ease;
  background-color: white;
  color: #ad64c5;
  border: 1px solid #ad64c5;
}

@media (min-width: 549px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}

/* home page body */
.HPintro {
  float: right;
  max-width: 800px;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: #ad64c5 solid 4px;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
}
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
  display: block;
  text-align: center;
}
.mothmanPic {
  float: left;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 600px;
  max-height: 600px;
}
.mothCopy {
  width: 500px;
}

/* cryptid page */
.Cryptidbio {
  background-color: white;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
  float: right;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 700px;
  border: #ad64c5 solid 4px;
}
.Cryptidpic {
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 700px;
}
.mothMan {
  display: inline-flex;
}
.bigFoot {
  display: inline-flex;
}
.chupa {
  display: inline-flex;
}

/* go exploring page */
/* go exploring safety section */
.safetyTips {
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 700px;
  background-color: white;
  border: #ad64c5 solid 4px;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
}

/* map and api */
#map {
  border: #ad64c5 solid 4px;
  height: 500px;
  width: 500px;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: center;
}

/* resources page */
#resourcesLinks {
  border: #ad64c5 solid 4px;
  background-color: white;
  height: 400px;
  width: 400px;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
}

/* form */
#fs-frm {
  border: #ad64c5 solid 4px;
  background-color: white;
  float: right;
  height: 400px;
  width: 800px;
  padding: 20px;
  margin-right: 10px;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
}
input[type="submit"] {
  cursor: pointer;
  margin: 10px;
}

/* contacts */
.contactInfo {
  border: #ad64c5 solid 4px;
  background-color: white;
  height: 400px;
  width: 400px;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
}

#Blogposts {
  text-align: center;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
  color: #ad64c5;
}
