html {
  background-color: rgb(226, 223, 223);
}
.HiddenOddities {
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 50px;
  padding: 0;
  margin: 0;
}
@media (min-width: 549px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}
.banner {
  background-image: url(https://images.unsplash.com/photo-1598932025281-f89c3670ac53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMHRyZWV8ZW58MHx8MHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  width: 99.5%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ad64c5 solid 4px;
}
/* add highlight hover make font bigger */
nav {
  background-color: #ad64c5;
  margin: auto;
  width: 100%;
}
nav > ul {
  display: inline-flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
  list-style: none;
}
nav > ul > li > a {
  color: black;
  padding: 10px;
  margin: 5px;
}
.HPintro {
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: white;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibre, "Trebuchet MS", sans-serif;
}
footer {
  display: block;
  text-align: center;
}
.mothmanPic {
  max-width: 300px;
  max-height: 300px;
  border: #ad64c5 solid 4px;
}
