.HiddenOddities {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.banner {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/021/464/original/60-602430_fog-forest-wallpaper-mural-hd-png-download_%282%29.jpg?1637550170);
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}
